.container{
    display: grid;
    place-items: center;
    padding-top: 25px;

}

.avatar{
    height: 120px;
    width: 120px;
    border-color:#E72973;
    border-style: solid;
    border-radius: 50%;
}

.contact{
    text-decoration: none;
}

.contact:hover{
   color: #E72973;
   border: #E72973;
}

footer{
    text-align: center;
    color: #5A5773;
}

.amp{
    color: #E72973;
}

ul.list{
    list-style-type: square;
    color: #E72973;
}

#list-item{
    color: black;
}