.container{
    display: grid;
    place-items: center;
    padding-top: 25px;

}

.avatar{
    height: 120px;
    width: 120px;
    border-color:#E72973;
    border-style: solid;
    border-radius: 50%;
}

.contact{
    text-decoration: none;
}

.contact:hover{
   color: #E72973;
   border: #E72973;
}

footer{
    text-align: center;
    color: #5A5773;
}

.amp{
    color: #E72973;
}

ul.list{
    list-style-type: square;
    color: #E72973;
}

#list-item{
    color: black;
}

#icon-twitter:hover{
    color:#60B8FF;
}

#icon-instagram:hover{
    color: #E04990;
}

#icon-linkedin:hover{
    color: #0177B5;
}

#icon-github:hover{
    color: #1A1E22;
}

#icon-whatsapp:hover{
    color: #00E676;
}

@media (max-width: 576px) {
    #icon-twitter{
        color:#60B8FF;
    }
    #icon-instagram{
        color: #E04990;
    }
    
    #icon-linkedin{
        color: #0177B5;
    }
    
    #icon-github{
        color: #1A1E22;
    }
    #icon-whatsapp{
        color: #00E676;
    }
}